In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2022-04-03 05:01:37,-54.8000,-68.3000,38.19,92,91,8.10
1,1,Rikitea,PF,2022-04-03 05:05:10,-23.1203,-134.9692,75.74,60,15,7.63
2,2,Jizan,SA,2022-04-03 05:05:10,17.3333,42.6667,87.96,38,2,1.25
3,3,Busselton,AU,2022-04-03 05:05:11,-33.6500,115.3333,69.33,83,91,18.90
4,4,Bluff,NZ,2022-04-03 05:05:11,-46.6000,168.3333,57.52,73,77,17.38

In [3]:
#get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of Wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Rikitea,PF,2022-04-03 05:05:10,-23.1203,-134.9692,75.74,60,15,7.63
2,2,Jizan,SA,2022-04-03 05:05:10,17.3333,42.6667,87.96,38,2,1.25
10,10,Ambilobe,MG,2022-04-03 05:05:12,-13.2000,49.0500,77.90,86,9,1.66
11,11,Georgetown,MY,2022-04-03 05:01:28,5.4112,100.3354,89.53,58,20,3.44
12,12,Hithadhoo,MV,2022-04-03 05:05:13,-0.6000,73.0833,83.61,68,11,5.35
14,14,Puerto Ayora,EC,2022-04-03 05:05:13,-0.7393,-90.3518,76.55,97,25,6.17
16,16,Butaritari,KI,2022-04-03 05:05:14,3.0707,172.7902,82.04,77,23,15.95
17,17,Vaini,TO,2022-04-03 05:05:15,-21.2000,-175.2000,82.56,78,75,2.30
20,20,Arraial Do Cabo,BR,2022-04-03 05:03:54,-22.9661,-42.0278,76.23,87,98,7.61
24,24,Banjar,ID,2022-04-03 05:05:17,-8.1900,114.9675,86.38,68,97,1.61

In [11]:
# Check if there are any null values
preferred_cities_df.count()

City_ID       144
City          144
Country       144
Date          144
Lat           144
Lng           144
Max Temp      144
Humidity      144
Cloudiness    144
Wind Speed    144
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1           Rikitea      PF     75.74 -23.1203 -134.9692
2             Jizan      SA     87.96  17.3333   42.6667
10         Ambilobe      MG     77.90 -13.2000   49.0500
11       Georgetown      MY     89.53   5.4112  100.3354
12        Hithadhoo      MV     83.61  -0.6000   73.0833
14     Puerto Ayora      EC     76.55  -0.7393  -90.3518
16       Butaritari      KI     82.04   3.0707  172.7902
17            Vaini      TO     82.56 -21.2000 -175.2000
20  Arraial Do Cabo      BR     76.23 -22.9661  -42.0278
24           Banjar      ID     86.38  -8.1900  114.9675

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [14]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Rikitea,PF,75.74,-23.1203,-134.9692,People ThankYou
2,Jizan,SA,87.96,17.3333,42.6667,شهدان. ابوالحجر
10,Ambilobe,MG,77.90,-13.2000,49.0500,Hôtel & Restaurant DIANA Ambilobe
11,Georgetown,MY,89.53,5.4112,100.3354,Cititel Penang
12,Hithadhoo,MV,83.61,-0.6000,73.0833,Scoop Guest House
...,...,...,...,...,...,...
534,Kapoeta,SS,85.41,4.7717,33.5903,Eastgate Hotel
539,Bathsheba,BB,77.61,13.2167,-59.5167,Atlantis Hotel
546,Vanimo,PG,84.38,-2.6741,141.3028,Vahmoneh Lodge Vanimo
553,Cap Malheureux,MU,79.47,-19.9842,57.6142,Pereybere Hotel & Spa
556,Benguela,AO,76.06,-12.5763,13.4055,Hotel Praia Morena

In [16]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [20]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))