## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,6,Ocos,GT,87.98,clear sky,14.5094,-92.1933,Auto Hotel El Soñador
1,7,Rikitea,PF,78.17,clear sky,-23.1203,-134.9692,People ThankYou
2,8,Kavaratti,IN,81.66,scattered clouds,10.5669,72.6420,Hotels in Lakshadweep Islands
3,12,Vaini,TO,78.96,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
4,16,San Policarpo,PH,80.80,heavy intensity rain,12.1791,125.5072,Agapita M. Nicart

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Rancho Palos Verdes"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Rancho Palos Verdes"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Boulder City"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Ridgecrest"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Morro Bay"]

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

print(f'Start: {start}, End: {end}, Stop 1: {vacation_stop1}, Stop 2: {vacation_stop2}, Stop 3: {vacation_stop3}')

Start: (33.7445, -118.387), End: (33.7445, -118.387), Stop 1:    City_ID          City Country  Max Temp Current Description      Lat  \
5       23  Boulder City      US     85.59           clear sky  35.9786

        Lng         Hotel Name
5 -114.8325  Boulder Dam Hotel  , Stop 2:      City_ID        City Country  Max Temp Current Description      Lat  \
203      671  Ridgecrest      US     85.86    scattered clouds  35.6225

          Lng                                Hotel Name
203 -117.6709  SpringHill Suites by Marriott Ridgecrest  , Stop 3:     City_ID       City Country  Max Temp Current Description      Lat  \
48      161  Morro Bay      US     81.25       broken clouds  35.3658

         Lng        Hotel Name
48 -120.8499  Inn at Morro Bay

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
      start, end, waypoints=[stop1, stop2, stop3],
      travel_mode='DRIVING')

fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
vacation_itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3], ignore_index=True)
vacation_itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,361,Rancho Palos Verdes,US,76.08,broken clouds,33.7445,-118.3870,Terranea Resort
1,23,Boulder City,US,85.59,clear sky,35.9786,-114.8325,Boulder Dam Hotel
2,671,Ridgecrest,US,85.86,scattered clouds,35.6225,-117.6709,SpringHill Suites by Marriott Ridgecrest
3,161,Morro Bay,US,81.25,broken clouds,35.3658,-120.8499,Inn at Morro Bay

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.
#locations = vacation_df[["Lat","Lng"]]
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))